@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Light Theme Colors */
  --primary: #0a369d;
  --primary-dark: #001233;
  --primary-light: #5e7ce2;
  --primary-lighter: #d1defc;

  --background: #cfdee7;
  --card-bg: #ffffff;
  --text-primary: #212529;
  --text-secondary: #6c757d;

  --success: #28a745;
  --warning: #ffc107;
  --error: #dc3545;
  --neutral: #6c757d;
}

[data-theme="dark"] {
  /* Dark Theme Colors */
  --primary: #2a34c0;
  /* --primary: #0a369d; */
  --primary-dark: #001233;
  --primary-light: #5e7ce2;
  --primary-lighter: #a1c6ea;
  --background: #121212;
  --card-bg: #1e1e1e;
  --text-primary: #e3e3e3;
  --text-secondary: #a8a8a8;

  --success: #34d399;
  --warning: #fbbf24;
  --error: #f87171;
  --neutral: #a1a1aa;
}

body {
  font-family: var(--font-roboto), sans-serif;
}
.global-flex-center {
  @apply flex justify-center items-center;
}
/* 
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
 */
